[submodule "gym-collision-avoidance"]
	path = gym-collision-avoidance
	url = https://github.com/GreatEms/gym-collision-avoidance.git
[submodule "Trajectron-plus-plus"]
	path = Trajectron-plus-plus
	url = https://github.com/GreatEms/Trajectron-plus-plus.git
